QPushButton#encrypt {
    background-color: lightblue;
    color: darkblue;
    border: 1px solid darkblue;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
QPushButton#encrypt:hover {
    background-color: lightcyan;
    border-color: darkcyan;
}

QLabel {
    color: white;
    font-size: 20px;
}

QTextEdit {
    background-color: rgba(255, 255, 255, 0.3); /* Adjust alpha for transparency */
    color: black;
    font-size: 18px;
}

QPushButton {
    background-color: #3498db;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin: 5px;
}

QPushButton:hover {
    background-color: #2980b9;
}

#encrypt {
    background-color: #2ecc71;
}

#encrypt:hover {
    background-color: #27ae60;
}

#Vigenere {
    background-color: #e74c3c;
}

#Vigenere:hover {
    background-color: #c0392b;
}

#Vigenere-Repeat,
#Vigenere-Auto {
    background-color: #f39c12;
}

#Vigenere-Repeat:hover,
#Vigenere-Auto:hover {
    background-color: #d35400;
}


MainWindow {
    background: url('assets/crypt.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}
